.notify, .notify__info, .notify__warning, .notify__error, .notify__success, .notify__active--info, .notify__active--warning, .notify__active--error, .notify__active--success, .notify__animate-close--info, .notify__animate-close--warning, .notify__animate-close--error, .notify__animate-close--success {
  line-height: 15vh;
  font-size: 3.3vh;
  text-align: center;
}

.notify__info, .notify__active--info, .notify__animate-close--info {
  border: 1px dashed #132333;
  background-color: #134a75;
  color: #d8e6e7;
}

.notify__warning, .notify__active--warning, .notify__animate-close--warning {
  border: 1px dashed #feee7d;
  background-color: #f46f19;
  color: #282e33;
}

.notify__error, .notify__active--error, .notify__animate-close--error {
  border: 1px dashed #de6571;
  background-color: #d71729;
  color: #132333;
}

.notify__success, .notify__active--success, .notify__animate-close--success {
  border: 1px dashed #80cbc4;
  background-color: #2a897e;
  color: #03111c;
}

.notify__wrapper {
  position: absolute;
  top: 2vh;
  right: 2vw;
  width: 20vw;
  height: 15vh;
}

.notify__hidden {
  display: none;
}

.notify__active--info {
  -webkit-animation: animationOpen 1s;
          animation: animationOpen 1s;
}

.notify__active--warning {
  -webkit-animation: animationOpen 1s;
          animation: animationOpen 1s;
}

.notify__active--error {
  -webkit-animation: animationOpen 1s;
          animation: animationOpen 1s;
}

.notify__active--success {
  -webkit-animation: animationOpen 1s;
          animation: animationOpen 1s;
}

.notify__animate-close--info {
  -webkit-animation: animationClose 1s;
          animation: animationClose 1s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.notify__animate-close--warning {
  -webkit-animation: animationClose 1s;
          animation: animationClose 1s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.notify__animate-close--error {
  -webkit-animation: animationClose 1s;
          animation: animationClose 1s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.notify__animate-close--success {
  -webkit-animation: animationClose 1s;
          animation: animationClose 1s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

@-webkit-keyframes animationOpen {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

@keyframes animationOpen {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

@-webkit-keyframes animationClose {
  0% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

@keyframes animationClose {
  0% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
