input.time-component[type=range] {
    cursor: pointer;
    -webkit-appearance: none;
    width: 100%;
    outline: 0;
    margin-top:5%;
    background-color: transparent;
  }
input.time-component[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: 1px solid #000000;
      height: 38.4px;
      height: 2.4rem;
      width: 19.2px;
      width: 1.2rem;
      border-radius: 3px;
      background: #ffffff;
      cursor: pointer;
      margin-top: -14px;
      -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
              box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
input.time-component[type=range]:focus {
      outline: none;
    }
input.time-component[type=range]::-ms-track {
      width: 100%;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
input.time-component[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
              box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      background: #3071a9;
      border-radius: 1.3px;
      border: 0.2px solid #010101;
    }
input.time-component[type=range]:focus::-webkit-slider-runnable-track {
      background: #367ebd;
    }
.lazy-helpers-reset, .lazy-helpers-button-reset, .lazy-base-container, .lazy-helpers__container, .lazy-helpers__grid--item button, .add-to-buffer__container, .add-to-buffer__grid--item button {
  letter-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
  text-rendering: auto;
  font-family: Arial;
  font-size: 13.3333px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  -webkit-font-variant-ligatures: normal;
          font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  line-height: normal;
}
.lazy-helpers-button-reset, .lazy-helpers__grid--item button, .add-to-buffer__grid--item button {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
  text-transform: none;
  cursor: default;
  color: #06131d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-width: 2px;
  border-style: outset;
  -o-border-image: initial;
     border-image: initial;
  background-color: #99c0bc;
}
.lazy-base-container, .lazy-helpers__container, .add-to-buffer__container {
  color: #06131d;
  background-color: #e4f3e7;
  border-color: #518074;
  border-width: 1px;
  border-style: solid;
  position: fixed;
  top: 5vh;
  right: 5vw;
  z-index: 9999;
}
.lazy-helpers__container {
    width: 50vw;
    height: 20vh;
  }
.lazy-helpers__grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
.lazy-helpers__settings {
    margin: 2vm;
    margin: 2vmin;
    height: 32px;
    height: 2rem;
    line-height: 32px;
    line-height: 2rem;
    text-align: center;
    font-weight: bolder;
  }
.lazy-helpers__grid--item {
    margin: 2vm;
    margin: 2vmin;
    text-align: center;
    height: 60%;
  }
.lazy-helpers__grid--item button {
      font-size: 2vh;
      height: 100%;
      width: 100%;
      text-align: center;
    }
.add-to-buffer__container {
    width: 100vw;
    max-height: 20vh;
  }
.add-to-buffer__grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
.add-to-buffer__grid--item {
    margin: 8px;
    margin: 0.5rem;
    background-color: #b0bec5;
    height: 48px;
    height: 3rem;
  }
.add-to-buffer__grid--item input {
      padding-left: 2%;
      font-size: 2vh;
      width: 95%;
      line-height: 41.28px;
      line-height: 2.58rem;
    }
.add-to-buffer__grid--item button {
      font-size: 2vh;
      height: 100%;
      width: 100%;
      text-align: center;
    }
